@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex justify-content-center justify-content-center align-items-center flex-column gap-3">
    <h1 class="display-4">La mia pizzeria!</h1>
    <a class="btn btn-danger p-3 mt-2 w-50 fs-5" asp-area="" asp-controller="Pizza" asp-action="Index">Menù</a>
</div>
